@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  // Background Colors
  --background-dark-blue: #0b111b;
  --background-dark-gray: #2b313a;
  --background-darker-gray: #131923;

  // Primary Colors
  --primary-pink: #fe3dce;
  --primary-blue: #26afe6;
  --primary-white: #ffffff;

  --primary-dark-gray: #3A3737;

  // secondary Colors
  --secondary-pink: #faaef2;
  --secondary-blue: #bff2ff;
  --secondary-purple: #9989ff;

  // Gradients Colors
  --gradient-pink-to-blue: linear-gradient(0.25turn, var(--primary-pink), var(--primary-blue));
  --gradient-pink-to-baby-blue: linear-gradient(0.25turn, var(--secondary-pink), var(--secondary-blue));
  --gradient-purple-to-pink: linear-gradient(0.25turn, var(--secondary-purple), var(--secondary-pink));

  // Brand Colors
  --polka-pink: #E6007A;
  --polka-yellow: #D3FF33;
  --polka-green: #56F39A;
  --polka-purple: #552BBF;
  --polka-cyan: #00B2FF;
  --bitcoin-orange: #F7931A;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  // background-color: var(--background-dark-blue);
  // color: var(--primary-white);
  background-color: var(--primary-white);
  color: var(--primary-dark-gray);
}

img {
  object-fit: contain;
}

.landing {
  // background: url(../../public/home/Landing_donut_top.svg) no-repeat bottom left;
  // background: url(../../public/home/Landing_donut_right_bottom.svg) no-repeat bottom right;
  // background: url(/home/landing_donut_top.svg) no-repeat bottom right;
}

.landing-donut {
  width: 160vh;
  height: 160vh;
  background: url(/home/landing_rgb_donut.svg) no-repeat;
  transform-origin: center;
  overflow: visible;
  position: absolute;
  right: 0;
  bottom: 0;
  translate: 50% calc(50% - 96px);
}

.landing-bg-2 {
  // background: url(../../public/home/Landing_donut_bottom.svg) no-repeat top left;
  // background: url(/home/landing_donut_bottom.svg) no-repeat top right;

}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.tagmanager-hide {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}